DB_FILE_NAME=file:local.db

LOGIN_EMAIL=youremailhere
LOGIN_PASSWORD=yourkeyhere

JWT_SECRET_KEY=yoursecretkeyhere
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING=1d

LOGIN_COOKIE_NAME=loginSession

