@import '@mdxeditor/editor/style.css';
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

@layer components {
    .mdxeditor-theme {
        --basePageBg: black;
        --baseBg: black;
        --baseBgSubtle: theme(colors.zinc.800);
        --baseLine: theme(colors.zinc.700);
        --baseBorder: theme(colors.zinc.700);

        --accentBg: theme(colors.sky.900);
        --accentBgHover: theme(colors.sky.800);
        --accentLine: theme(colors.sky.700);
        --accentBorder: theme(colors.sky.700);
        --accentSolid: theme(colors.sky.500);
        --accentSolidHover: theme(colors.sky.400);
        --accentText: theme(colors.sky.300);
        --accentTextContrast: white;

        --font-body: var(--font-inter);
        --font-mono: var(--font-geist-mono);

        color: white;
        background: black;
        border: 1px solid white;
        border-radius: none;
        width: 100%;
        min-width: 0;
        max-width: none;
    }

    .mdxeditor-theme .mdxeditor-toolbar {
        --radius-medium: 0;
        width: 100%;
    }

    .mdxeditor-theme .mdxeditor-root-contenteditable {
        @apply prose prose-neutral;
        --baseTextContrast: white;
        --tw-prose-headings: white;
        --tw-prose-links: #3b82f6;
        --baseText: white;
        --baseTextContrast: black;
        min-height: 234px;
    }

    .mdxeditor-theme .mdxeditor-root-contenteditable blockquote {
        --baseText: white;
    }

    .mdxeditor-theme .mdxeditor-root-contenteditable button {
        --baseText: black;
        color: black;
    }


    .mdxeditor-theme .mdxeditor-root-contenteditable li[role='checkbox'] {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .mdxeditor-theme
        .mdxeditor-root-contenteditable
        li[role='checkbox']::before {
        margin-top: 6px;
    }

    .mdxeditor-theme
        .mdxeditor-root-contenteditable
        li[role='checkbox']::after {
        margin-top: 7px;
    }
}
